


.footer {
  color: silver;
  background-color: #282c34;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  opacity: 95%;
  box-sizing: border-box;
}

.footerIcons svg {
  font-size: 25px;
  margin: 5px;
  color: silver;

}

.footerTitle {
  font-size: 14px;
  text-align: center;
  margin: 0 0 5px 0;
}

